/* styles/HomePage.css */

.homepage {
  font-family: Arial, sans-serif;
  padding: 40px;
  margin-right: 25px;
  justify-content: space-between;
  font-size: 30px;
  padding: 20px 0; /* Add padding to create space above and below the navigation */

  /* Center the links horizontally if needed */
  text-align: center
  

}


body {
  margin: 0;
  padding: 0;
 
  background-color: rgba(255, 255, 255, 0);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}

/* ... rest of your existing styles ... */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* This ensures the section takes up the full viewport height */
  text-align: center; /* Center-align text within the section */
}


.login-signup button {
  background-color: #000000;
  font-size: 30px;
  align-items: center;
  color: rgb(255, 255, 255);
  border: none;
  padding: 20px 30px;
  cursor: pointer;
}


main {
  padding: 20px;
 
}


h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 28px;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
 

}
/* styles/HomePage.css */

/* ... Existing styles ... */

/* Animation for the home section */
